<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chào mừng bạn đến với trang chủ</h1>
    <a href="/login">Đăng nhập</a>
    <a href="/register">Đăng kí</a>
    <a href="/changePassword">Đổi mật khẩu</a>
  </body>
</html>
